version: "3.9"

services:
  web:
    build: .
    container_name: assignment-tracker-app
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=db
      - DB_USER=tracker_user
      - DB_PASSWORD=tracker_password_123
      - DB_NAME=assignment_tracker
      - FLASK_ENV=production
    env_file:
      - .env.production
    restart: on-failure
    networks:
      - app-network

  db:
    image: mysql:8
    container_name: assignment-tracker-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password_123
      MYSQL_DATABASE: assignment_tracker
      MYSQL_USER: tracker_user
      MYSQL_PASSWORD: tracker_password_123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
      interval: 10s
    networks:
      - app-network

volumes:
  db_data:


networks:
  app-network:
    driver: bridge
